{% extends "layout.html" %} {% block content %}

<div>
  <div class="container mx-auto">
    <div class="py-16 lg:py-20">
      <div>
        <img src="static/img/icon-uses.png" alt="icon uses" />
      </div>
      <h1
        class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl"
      >
        /learn
      </h1>
      <div class="pr-2 pt-4">
        <span class="font-body text-xl font-light text-primary dark:text-white">
          Make an
          <span class="font-bold text-secondary">informed</span> decision
        </span>
      </div>

      <h2
        class="pt-10 font-body text-2xl font-semibold text-primary dark:text-white"
      >
        Documentaries
      </h2>
      <p class="font-body text-lg font-light text-primary dark:text-white">
        Watch these documentaries to learn more about the animal industry.
      </p>

      <!-- Documentaries -->

      <!-- 1-  Earthlings
            Trailer: https://www.youtube.com/watch?v=Hm7Babs_FJU&t=2s
            Where to watch: http://www.nationearth.com/

            2- Seaspiracy
            Trailer: https://www.youtube.com/watch?v=1Q5CXN7soQg
            Where to watch: Netflix

            3- Cowspiracy
            Trailer: https://www.youtube.com/watch?v=nV04zyfLyN4
            Where to watch: Netflix

            4- Forks over knives
            Trailer: https://www.youtube.com/watch?v=O7ijukNzlUg
            Where to watch:https://www.forksoverknives.com/the-film/

            5-  Blackfish
            Trailer:https://www.youtube.com/watch?v=fLOeH-Oq_1Y
            Where to watch: fuboTV or Amazon Prime

            6- Food Inc.
            Trailer: https://www.youtube.com/watch?v=Rjh5aZKgtSY
            Where to watch: Amazon Prime

            7- An apology to elephants
            Trailer:https://www.youtube.com/watch?v=jQEBJN3edig
            Where to watch: HBO

            8-  Racing Extinction
            Trailer: https://www.youtube.com/watch?v=MwxyrLUdcss
            Where to watch:  Hulu

            9- The Cove
            Trailer: https://www.youtube.com/watch?v=OYKNCN1ESZM
            Where to watch: Hulu Plus 

            10- Dominion
            Trailer:https://www.youtube.com/watch?v=n9NiOwibz14
            Where to watch: Prime video -->

      <ol class="space-y-12 pt-4">
        <li
          class="space-y-2 font-body text-lg font-light text-primary dark:text-white"
        >
          <a
            href="https://www.youtube.com/watch?v=Hm7Babs_FJU"
            target="_blank"
            class="font-bold text-secondary"
            >Earthlings</a
          >
          <!-- Youtube video -->
          <iframe
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/Hm7Babs_FJU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </li>
        <li
          class="space-y-2 font-body text-lg font-light text-primary dark:text-white"
        >
          <a
            href="https://www.youtube.com/watch?v=1Q5CXN7soQg"
            target="_blank"
            class="font-bold text-secondary"
            >Seaspiracy</a
          >
          <iframe
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/1Q5CXN7soQg"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </li>

        <li
          class="space-y-2 font-body text-lg font-light text-primary dark:text-white"
        >
          <a
            href="https://www.youtube.com/watch?v=nV04zyfLyN4"
            target="_blank"
            class="font-bold text-secondary"
            >Cowspiracy</a
          >
          <iframe
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/nV04zyfLyN4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </li>
        <li
          class="space-y-2 font-body text-lg font-light text-primary dark:text-white"
        >
          <a
            href="https://www.youtube.com/watch?v=O7ijukNzlUg"
            target="_blank"
            class="font-bold text-secondary"
            >Forks over knives</a
          >
          <iframe
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/O7ijukNzlUg"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </li>
        <li
          class="space-y-2 font-body text-lg font-light text-primary dark:text-white"
        >
          <a
            href="https://www.youtube.com/watch?v=fLOeH-Oq_1Y"
            target="_blank"
            class="font-bold text-secondary"
            >Blackfish</a
          >
          <iframe
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/fLOeH-Oq_1Y"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </li>
        <li
          class="space-y-2 font-body text-lg font-light text-primary dark:text-white"
        >
          <a
            href="https://www.youtube.com/watch?v=Rjh5aZKgtSY"
            target="_blank"
            class="font-bold text-secondary"
            >Food Inc.</a
          >
          <iframe
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/Rjh5aZKgtSY"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </li>
        <li
          class="space-y-2 font-body text-lg font-light text-primary dark:text-white"
        >
          <a
            href="https://www.youtube.com/watch?v=jQEBJN3edig"
            name="elephants"
            target="_blank"
            class="font-bold text-secondary"
            >An apology to elephants</a
          >
          <iframe
            width="560"
            height="315"
            src="https://www.youtube-nocookie.com/embed/jQEBJN3edig"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </li>
      </ol>
    </div>
  </div>
</div>

{% endblock %}
